# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Test/coverage outputs
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
